body{
  font-family: "Space Mono", monospace;
  font-weight: normal;
  font-style: normal;
  margin: 0; 
  position: relative;
}

header{
  background-color:blue;
  padding-top: 1em;
  height: 31vh;
  position: absolute;
  width: 100vw;
  z-index: 0;
  margin-top: 0;
  display: flex;
}


#nameTitle {
  display:block;
  margin-left: 4vw;
  font-size: 5vh;
  margin-top: 2vh;
  color:rgb(79, 255, 43);
}

#pageLinks{

  display: block;
  margin-left: 4vw;
  text-align: left;
  margin-top: 13vh;
  position: absolute;
  
  
}


.headerTitles {
  display: block;
  /* margin-left:1em; */
  font-size: 1.8vh;
  /* margin-right: 20px; */
  color:rgb(79, 255, 43);
  /* padding-left: 1.5em; */
  /* padding-right: 15px; */
  padding-top: 0.5em;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-decoration: none;
}

/* #trunk{
  display: flex;
  background-color: white;
  vertical-align: baseline;
  unicode-bidi: isolate;
  flex: 0 0 75%;
  box-sizing: border-box;
  
} */

img{
  width: 37.8vw;
  margin-left: 0;
  margin-top: 10vh;
  display: inline;
  /* flex: 0 0 25%; */
  
  /* margin-bottom: 100px; */

    
   
}

.infoText {
  display: block;
  width: 55.5vw;
  margin-left: 37.8vw;
  color:blue;
  font-weight: normal;
  /* padding: 3em; */
  /* vertical-align: top; */
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  margin-top: 12vh;
  /* height: 94.4vh; */
  font-weight: normal;
  /* font-family: Arial, Helvetica, sans-serif; */
  letter-spacing: 0.05em;
  border: 1px solid blue;
  background-color: rgb(255, 255, 255);
  
}

#bodyTextTitle{
  font-size: 4vh;
  padding-left: 3vw;
  font-weight: bold;
  padding-top: 5vh;
  
}

.smallInfo{
  font-size: 1.4vh;
  color: blue;
  padding-left: 3vw;
  margin-top: 5em;
  
}

#secondPrg{
  margin-top: 1em;

}

#bodySmallText{
  margin-top: 10em;
}

#contactLinks{
  color:rgb(255, 255, 255);
  padding-top: 0.8em;
  display: block;
  padding-left: 20px; 
  font-weight: normal;
  font-size: 1.6vh;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
}


footer{
  background-color: blue;
  height: 17vh;
  /* width: 60vw; */
  z-index: 0;
  padding: 1em;
  margin-top: 10vh;
  color: white;
  
  
  
  
} 



.footerTitle{

  color:rgb(79, 255, 43);
  /* padding-top: 5em; */
  display: block;
  padding-left: 20px; 
  font-weight: normal;
  font-size: 1.6vh;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;


}

.footerLinks{
  /* bottom: 10vh; */
  /* margin-left: 0; */
  font-weight: bold;
  
  
}

#quote {
  display: block;
  margin-top: 23.6vh;
  color: blue;
  font-size: 2vh;
  font-weight: 700;
  /* padding-left: 2.5vw; */
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic; 
  /* border: 1px solid black; */
  text-align: center;
  background-color:rgb(79, 255, 43);
  padding: 1em;
  margin-left: 3em;
  margin-right: 3em;
}

a:hover{
  /* background-color: rgb(233, 255, 137); */
  text-decoration: underline;
  /* border: 1px solid white; */
}

#form{
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  
} 

label{
  flex-direction: row;
  padding-left: 3vw;
  margin: 1%;
  display: flex;
  justify-content: space-around;
  margin-right: 20vw;
  margin-left: 10vw;
  
}

button{
  justify-content: center;
  margin-top: 10vh;
  /* position: absolute; */
  height: 5vh;
  width: 10vw;
  background-color: rgb(79, 255, 43);
  color: blue;
  font-family: "Space Mono", monospace;
  border: 1px blue solid;
  margin-left: 3vw;
  
}

#formInput{
  width: 30vw;
  display: flex;
  align-content: stretch;
}

button:hover{
  background-color: red;
}









