body{
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  margin: 0; 
  position: relative;
}

header{
  background-color:blue;
  padding-top: 1em;
  height: 31vh;
  position: absolute;
  width: 100vw;
  z-index: 1;
}


#nameTitle {
  display:block;
  margin-left: 4vw;
  font-size: 5vh;
  margin-top: 2vh;
  color:rgb(79, 255, 43);
}

#pageLinks{

  display: block;
  margin-left: 4vw;
  text-align: left;
  margin-top: 0.1vh;
  position: absolute;
  
  
}


.headerTitles {
  display: block;
  /* margin-left:1em; */
  font-size: 1.8vh;
  /* margin-right: 20px; */
  color:rgb(79, 255, 43);
  /* padding-left: 1.5em; */
  /* padding-right: 15px; */
  padding-top: 0.5em;
  font-weight: normal;
  letter-spacing: 0.05em;
}

/* #trunk{
  display: flex;
  background-color: white;
  vertical-align: baseline;
  unicode-bidi: isolate;
  flex: 0 0 75%;
  box-sizing: border-box;
  
} */

img{
  width: 37.8vw;
  margin-left: 0;
  margin-top: 25vh;
  display: inline;
  flex: 0 0 25%;
  
  /* margin-bottom: 100px; */

    
   
}

.infoText {
  display: block;
  width: 62.2vw;
  margin-left: 37.8vw;
  color:rgb(0, 0, 0);
  font-weight: normal;
  /* padding: 3em; */
  /* vertical-align: top; */
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  margin-top: 12vh;
  height: 94.4vh;
  font-weight: normal;
  /* font-family: Arial, Helvetica, sans-serif; */
  letter-spacing: 0.05em;
  /* border: 1px solid black; */
  background-color: rgb(255, 255, 255);
  
}

#bodyTextTitle{
  font-size: 4vh;
  padding-left: 2.5vw;
  font-weight: bold;
  
}

.smallInfo{
  font-size: 1.7vh;
  color: black;
  padding-left: 2.5vw;
  margin-top: 5em;
}

#secondPrg{
  margin-top: 1em;

}

#bodySmallText{
  margin-top: 10em;
}

#contactLinks{
  color:rgb(255, 255, 255);
  padding-top: 0.8em;
  display: block;
  padding-left: 20px; 
  font-weight: normal;
  font-size: 1.6vh;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
}


footer{
  background-color: rgb(0, 0, 0);
  height: 17vh;
  width: 60vw;
  z-index: 0;
  padding: 1em;
  margin-top: 15.1vh;
  color: white;
  
  
  
} 

.footerTitle{

  color:gray;
  padding-top: 5px;
  display: block;
  padding-left: 20px; 
  font-weight: normal;
  font-size: 1.6vh;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;


}

.footerLinks{
  bottom: 10vh;
  /* margin-left: 0; */
  font-weight: bold;
  
}

#quote {
  display: block;
  margin-top: 17.1em;
  color: black;
  font-size: 2vh;
  font-weight: 700;
  padding-left: 2.5vw;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}







