body{
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  margin: 0; 
  position: relative;
}

header{
  background-color:blue;
  padding-top: 1em;
  height: 31vh;
  position: absolute;
  width: 100vw;
}


#nameTitle {
  display:block;
  margin-left: 4vw;
  font-size: 5vh;
  margin-top: 2vh;
  color:rgb(79, 255, 43);
}

#pageLinks{

  display: block;
  margin-left: 4vw;
  text-align: left;
  margin-top: 0.1vh;
  position: absolute;
  
  
}


.headerTitles {
  display: block;
  /* margin-left:1em; */
  font-size: 1.8vh;
  /* margin-right: 20px; */
  color:rgb(79, 255, 43);
  /* padding-left: 1.5em; */
  /* padding-right: 15px; */
  padding-top: 0.5em;
  font-weight: normal;
  letter-spacing: 0.05em;
}

/* #trunk{
  position: absolute;
  background-color: rgb(236, 4, 4);
  margin-top: 10vh;
} */

img{
  width: 40vw;
  margin-left: 0;
  margin-top: 25vh;
  display: inline;
  
  /* margin-bottom: 100px; */
}

#infoText {
  display: block;
  width: 60vw;
  margin-left: 35vw;
  color:black;
  font-weight: normal;
  padding: 3em;
  vertical-align: top;
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  margin-top: 20vh;
  height: 70vh;
}

.smallInfo{
  font-size: 13px;
  color: black;
}

#bodySmallText{
  margin-top: 400px;
}

.contactLinks{
  color:rgb(79, 255, 43);
  padding-top: 5px;
  display: block;
  padding-left: 20px; 
}


footer{
  background-color: blue;
  height: 17vh;
  width: 100vw;
  z-index: 0;
  margin-top: 36vh;
  position: absolute;
  display: block;
  
} 

#footerLinks{
  bottom: 10vh;
  /* margin-left: 0; */
  font-weight: bold;
  
}

#quote {
  display: block;
  margin-top: 300px;
  color: black;
  font-size: 15px;
  width: 730px;
  font-weight: 700;
}







